@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald:wght@300;500&display=swap');

/* font-family: 'Noto Sans', sans-serif;
font-family: 'Oswald', sans-serif; */

body{
   margin:0;
   font-family:'Noto Sans', sans-serif;
   font-size: 16px;
   color:dimgrey;
   width:100%;
   overflow-x: hidden;
}

#hdInitial{
   display:flex;
   justify-content: space-between;
   width:100%;
   box-sizing: border-box;
   padding: 0 5% 2% 10%;
}

#initial{
   padding-top: 5%;
   width:40%;
}

h1{
   font-family: 'Oswald', sans-serif;
   font-size: 4em;
   color: #3770DE;
   line-height: 1.2em;
   margin-top:30px;
   margin-bottom:0;
}

h3{
   font-family: 'Oswald', sans-serif;
   font-size: 2em;
   font-weight:400;
   color: rgb(156, 153, 153);
   margin: 0;
}

p{
   line-height: 1.6;
   text-align: justify;
}

#initial p{
   margin-top: 2em;
}

figure{
   width:45%;
   box-sizing: border-box;
}

figure img{
   width:90%;
   max-width:600px;
   box-sizing: border-box;
}

.btn{
   font-size: 1em;
   color: white;
   background-color:#37C7CD;
   padding:10px 25px;
   border: none;
   text-decoration: none;
}

.btn a{
   text-decoration: none;
   color:white;
}

.btn:hover{
   cursor: pointer;
}

#benefits{
   background-color:#37C7CD ;
   display:flex;
   padding: 0 10% 3% 10%;
   justify-content: space-between;
}

.container{
   background-color: white;
   width:23%;
   padding:1% 3% 1% 3%;
   text-align:center;
   box-sizing: border-box;
}

h5{
   color: #3770DE;
   font-size: 1em;
}

.container img{
   width:40%;
}

.container p{
   font-style: italic;
   font-size: 0.9em;
   text-align: center;
}

#details{
   padding:2% 18% 4% 18%;
}


h2{
   font-family: 'Oswald', sans-serif;
   margin:0 0 3% 0;
   font-size: 3em;
   font-weight: 300;
   color: #3770DE;
   text-align: center;
   
}

.stepsContainer{
   display: flex;
   align-items: center;
   margin-bottom: 3%;
}

.stepsImg{
   width:40px;
   margin-left: 0;
   padding-right: 1%;
}

.stepsImg img{
   width:35px;
}

#start{
   text-align: center;
   margin-top: 4%;
}

#hdEncode{
   margin:0;
   background-color:#37C7CD ;
   padding: 2% 8% 10% 8%;
   z-index: -1;
}

#title{
   font-size: 2.2em;
   font-weight:400;
   margin:0;
   padding:0;
   text-align: left;
   color:white;
}

.homepage img{
   width:30px;
   position:absolute;
   right:8%;
}

.subtitle{
   font-size: 1.3em;
   color:white;
   font-family: 'Oswald', sans-serif;
}

#texts{
   margin-left: auto; 
   margin-right: auto;
   padding-left:8%;
   padding-right: 8%;
   display: flex; 
   flex-wrap: wrap;
   justify-content: space-between;
   position:absolute;
   top:135px;
}

.key{
   color: #3770DE;
   font-family: 'Oswald', sans-serif;
   font-size: 1.1em;
}

.divBtn{
   text-align: center;
}

#arrows{
   width:4%;
   align-self: center;
}

#leftArrow{
   transform:scaleX(-1);
}

#encodeOffset , #decodeOffset{
   width:50px;
   height: 20px;
}

input{
   border:1px solid #3770DE;
}

#textToEncode, #textToDecode{
  border:1px solid #3770DE;
  font-size: 1em;
  min-width: 35vw;
  min-height: 42vh;
}

.copy:hover{
   cursor: pointer;
   
}


.errorMsg{
   font-size: 0.7em;
   color: rgb(146, 12, 39);
   background-color: rgb(253, 183, 197);
}

.copy{
   text-align: left;
   font-size: 0.8em;
   font-weight:bold;
   color: white;
   display:flex;
   align-items: center;
   justify-content: flex-end;
   margin-top: -10px;
   margin-bottom:10px;
}

.copy img{
   width:5%;
   text-align: left;

}